[submodule "services/gtm-server"]
	path = services/gtm-server
	url = https://github.com/umairkarel/Server-Side-GTM.git
[submodule "services/proxy-server"]
	path = services/proxy-server
	url = ./services/proxy-server
[submodule "services/provisioning-api"]
	path = services/provisioning-api
	url = ./services/provisioning-api
